.product-container{
    max-width: 650px;
    margin: auto;
     margin-top: 50px; 
    
    justify-content: center;
    
}

.product-container svg{
    fill: blue;
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer; 
}

.product-header{
    width: 100%;
    max-width: 650px;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
    display: flex;
}

.product-title{
    width: 45%;
}

.price{
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity{
    width: 15%;
    display: flex;
    align-items: center;
}

.total{
    width: 15%;
    display: flex;
    align-items: center;
}