:root{
    --main-bg-color: #ffac12;
    --font1: 'Benne', serif;
    --font2: 'Lato', sans-serif;
}

.display{
    display: flex;
}

.cursor{
    cursor: pointer;
}

.font1{
    font-family: var(--font1);
}

.font2{
    font-family: var(--font2);
}

.m-auto{
    margin: auto;
}

.btn{
    padding: 7px 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #ff9933;
    width: 7rem;
    cursor: pointer;
}

.contact-btn{
    text-align: center;
    margin: 13px auto;
    padding: 2px 0px;
}

.cnt-btn{
    font-size: 0.9em;
    letter-spacing: 0.05em;
    background-color: #fff;
}
.cnt-btn:hover{
    background-color: #ff9933;
    transition: all 0.7s ease;
    color: white;
}


.btn:hover{
    cursor: pointer;
}

[type = "search"]{
    appearance: textfield;
}

.srh-btn{
    border-radius: 0px 4px 4px 0px;
    padding: 0px 6px;
}

.dropdown-content hr{
    font-weight: normal;
    opacity: 0.1;
}

.icon{
    font-size: 4rem;
}


.cvRV{
    display: grid;
    -moz-box-align: center;
    align-items: center;
    grid-template-columns: auto auto;
    /* column-gap: 0.5rem; */
    cursor: pointer;
}

svg{
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

.icons{
    padding: 0px 10px;
}

.WhInfa a{
    text-decoration: none;
}

.my-2{
    position: relative;
    font-size: 2rem;
    text-align: center;
    user-select: none;
}

.third .my-2::before{
    left: 495px;
    transform: translateY(-50%);
}

.third .my-2::after{
    right: 495px;
    transform: translateY(-50%);
}

.third .my-2::after, .third .my-2::before{
    content: '';
    position: absolute;
    background-color: #000;
    top: 50%;
    width: 120px;
    height: 2px;
}

.add-btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:#141414;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    margin: auto;
    border-radius: 5px;
  }