/* account page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.acc-logo img{
    width: 300px;
    height: 60px;
    padding: 0px 18px;
    margin: 7px 0px;
}

.account-page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    inset: 0px;
    position: fixed;
    background-color: rgb(64, 63, 63);
    z-index: 0;
    visibility: visible;
    opacity: 0.8;
}

.form-container{
    background: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    position: relative;
    /* left: 700px; */
    text-align: center;
    padding: 20px 0px;
    margin: auto;
    box-shadow: 0 0 18px 0px;
    overflow: hidden scroll;
    border-radius: 10px 0px 0px 10px;
    z-index: 6;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: rgb(19, 18, 18);
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;

}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid rgb(126, 120, 120);
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
    width: 100%;
}
#RegForm{
    left: 0px;
}
form a{
    font-size: 16px;
}
#Indicator{
  
    width: 100px;
    border: none;
    background: #ff9933;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
 }
