:root{
    --main-bg-color: #ffac12;
    --font1: 'Benne', serif;
    --font2: 'Lato', sans-serif;
}

.display{
    display: flex;
}

.cursor{
    cursor: pointer;
}

.font1{
    font-family: var(--font1);
}

.font2{
    font-family: var(--font2);
}

.m-auto{
    margin: auto;
}

.btn{
    padding: 7px 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #ff9933;
    width: 7rem;
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
}

[type = "search"]{
    appearance: textfield;
}

.srh-btn{
    border-radius: 0px 4px 4px 0px;
}

.search-icon{
    padding-right: 3px;
}

/* .cart-icon{
    padding-right: 3px;
}

.icon-label{
    display: inline;
} */



.dropdown-content hr{
    font-weight: normal;
    opacity: 0.1;
}

.icon{
    font-size: 4rem;
}

.jqwk{
    /* column-gap: 2.5rem; */
}
.cvRV{
    display: grid;
    -moz-box-align: center;
    align-items: center;
    grid-template-columns: auto auto;
    /* column-gap: 0.5rem; */
    cursor: pointer;
}

svg{
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}
.icons{
    padding: 0px 10px;
}

.WhInfa a{
    text-decoration: none;
}

